<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>${title}</title>
</head>

<body>
    <style type="text/css">
        .zhengwen {
            width: 97%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <h2 align="center">${title}</h2>
    <h5 align="center">作者：${author}&nbsp;&nbsp;&nbsp;&nbsp;来源：（${bigSource}）${source}<br>
    </h5>
    <h5 align="center">分组：${tag}</h5>
    <div class="zhengwen">
        <div class="rich_media_content" id="js_content">
            ${content}
        </div>
    </div>
    <p align="center">
        <a href="${webUrl}">原文链接</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </p>

</body>

</html>